<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-azure-upload" version="1.1.0">
    <name>AzureUpload</name>
    <js-module src="www/azureUpload.js" name="AzureUpload">
        <clobbers target="cordova.plugins.AzureUpload" />
    </js-module>
    
    <platform name="android">
        <source-file src="src/android/AzureUpload.java" target-dir="src/com/yourpackage/azureupload" />
        <framework src="com.microsoft.azure:azure-storage-android:8.7.0" />
        <framework src="androidx.core:core:1.6.0" /> <!-- For notifications -->
    </platform>
    
    <platform name="ios">
        <source-file src="src/ios/AzureUpload.swift" />
        <podspec>
            pod 'AzureStorage', '~> 0.2.0'
            pod 'UserNotifications' <!-- For notifications -->
        </podspec>
    </platform>
</plugin>
